* {
    box-sizing: border-box;
}
.container {
    background: #efdada;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc((100% - 40px) / 3);
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;

    text-align: center;
    transition: all 0.3s ease;
}

.card img {
    width: 50%;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
button {
    background-color: orange;
    color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    width: 180px;
    border: none;
}
button:hover {
    opacity: 0.6;
}
.price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
